header{
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-image: var(--car-carrier1-desktop);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.nav-wrapper{
  width: 100%;
  position: fixed;
  top: 0;
}
.contact-us{
  text-align: center;
  background-color: var(--header);
  box-shadow: var(--shadow);
  color: var(--cultured);
  border-radius: 0 0 5px 5px;
}
.contact-us div{
  display: inline-block;
  margin: 0 1rem;
  text-align: center;
  justify-content: center;
}
.contact-us svg{
  width: 1em;
  vertical-align: middle;
  margin-right: .3rem;
}
.contact-us span{
  font-size: 0.8em;
  vertical-align: middle;
}
.navbar-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 5px;
  padding-top: 15px;
  background-color: white;
  color: var(--header);
  top:2.5rem;
  box-shadow: var(--shadow);
  z-index: -1;
}
.nav-wrapper svg{
  cursor: pointer;
}
.navbar-wrapper h1{
  font-size: 1em;
  
}
.quote-form{
  margin-top: 9rem;
  margin-bottom: 3rem;
  justify-content: center;
  height: max-content;
  width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cultured);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.quote-form h1{
  font-size: 1em;
}
.quote-form label{
  /* align-self: flex-start; */
}
.quote-form input{
  width: 100%;
}
.popup-wrapper{
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--mirror-bg);
  overflow: hidden;
}
.popup-wrapper div{
  padding: 2rem;
  background-color:var(--white-bg);
  border-radius: 10px;
  box-shadow: 0 0 15px 1px var(--streight-shadow);
  position: relative;
}
.popup-wrapper div svg{
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  fill: var(--maximum-red);
  font-weight: 900;
  cursor: pointer;
}
.popup-wrapper div li{
  margin: 1rem 0;
}
li{
  list-style: none;
  cursor: pointer;
}
.input{
  /* width: 100%; */
  padding: 6px;
  border-radius: 5px;
  border:solid 1px grey;
}
.invalid{
  border-color: red;
}
.invalid_input::after{
  content: 'Invalid Input';
  display: inline-block;
  color: red;
  margin-left: 90px;
  text-align: end;

}
.invalid-input-field{
  color: red;
}
.zip_form{
  box-sizing: border-box;
  /* display: inherit; */
  width: 90%;
  /* position: inherit; */
}
  
.zip_form div{
  margin: 0.5rem 0;
}
.radio_wrapper{
  margin: 0.5rem 0;
}
.radio{
  margin: 0 0.2rem;
  margin-bottom: 0.5rem;
  width: fit-content !important;
}
.contact_info{
  margin: 0.5rem 0;
}
.btns{
  margin: 0.3rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.testimonial{
  height: 100vh;
  text-align: center;
  padding: 1rem 0;
  overflow-x: hidden;
  background-color: var(--cultured);
}
.slide_wrapper{
  width: max-content;
  display: flex;
  overflow-x: hidden;
}
.slide{
  max-width: 90vw;
  margin: 0.5rem 5vw;
  height: 10rem;
  text-align: start;
  padding: 0.8rem;
  overflow-y: hidden;
  background-color: var(--white-bg);
  border-radius: 10px;
  box-shadow: var(--light-shadow);
}
.slide p{
  font-size: 14px;
}
.customer{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0.3rem 0;
}
.customer em{
  font-size: 11px;
}