header{
  height: 100vh;
  /* background-image: var(--car-carrier1-desktop); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: center; */
}

.contact-us{
  text-align: center;
}
.contact-us div{
  display: inline-block;
  margin: 0 1rem;
  text-align: center;
  justify-content: center;
}
.contact-us svg{
  width: 1em;
  vertical-align: middle;
  margin-right: .3rem;
}
.contact-us span{
  font-size: 0.8em;
  vertical-align: middle;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-around;
}

.navbar-wrapper h1{
  font-size: 1em;
}
.quote-form{
  margin:3rem auto;
  justify-content: center;
  width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote-form h1{
  font-size: 1em;
}
.quote-form label{
  align-self: flex-start;
}
.popup-wrapper{
  display: flex;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--mirror-bg);
  overflow: hidden;
}
.popup-wrapper div{
  padding: 2rem;
  background-color:var(--white-bg);
  border-radius: 10px;
  box-shadow: 0 0 15px 1px var(--streight-shadow);
}
.popup-wrapper div li{
  margin: 1rem 0;
}
li{
  list-style: none;
  cursor: pointer;
}
.input{
  /* width: 100%; */
  padding: 6px;
  border-radius: 5px;
  border:solid 1px grey;
}
.invalid{
  border-color: red;
}
.invalid_input::after{
  content: 'Invalid Input';
  display: inline-block;
  color: red;
  margin-left: 90px;
  text-align: end;

}
.invalid-input-field{
  color: red;
}