:root{
  /* prime */
  --white-bg:rgb(255, 255, 255);
  --streight-shadow:rgba(122, 122, 122, 0.5);
  /* mirror background */
  --mirror-bg:rgba(255, 255, 255, .5);
  /* pictures */
  --car-carrier1-desktop:url(Pictures/Car_Carrier1-desktop.jpg);
  --car-carrier1-mobile:url(Pictures/Car_Carrier1-mobile.jpg);
  --car-carrier2-desktop:url(Pictures/Car_Carrier2-desktop.jpg);
  --car-carrier2-mobile:url(Pictures/Car_Carrier2-mobile.jpg);
  --car-carrier3-desktop:url(Pictures/Car_Carrier3-desktop.jpg);
  --car-carrier3-mobile:url(Pictures/Car_Carrier3-mobile.jpg);
  --car-carrier4-desktop:url(Pictures/Car_Carrier4-desktop.jpg);
  --car-carrier4-mobile:url(Pictures/Car_Carrier4-mobile.jpg);
  --car-carrier5-desktop:url(Pictures/Car_Carrier5-desktop.jpg);
  --car-carrier5-mobile:url(Pictures/Car_Carrier5-mobile.jpg);
  --car-carrier6-desktop:url(Pictures/Car_Carrier6-desktop.jpg);
  --car-carrier6-mobile:url(Pictures/Car_Carrier6-mobile.jpg);
  --car-carrier7-desktop:url(Pictures/Car_Carrier7-desktop.jpg);
  --car-carrier7-mobile:url(Pictures/Car_Carrier7-mobile.jpg);

  --header:rgb(3, 140, 37);
  --india-green:rgb(48, 135, 8);
  --cultured:rgb(245, 245, 245);
  --shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --light-shadow:0 0 6px 1px rgba(0, 0, 0, 0.2);
  --maximum-red:rgb(215, 42, 29);
  --head-text:rgb(34, 30, 27);
  --paragraph:rgb(71, 71, 71);
  --highlited-text: rgb(0, 63, 163)

}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--head-text);
  background-color: var(--cultured);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

